@import url('https://fonts.googleapis.com/css?family=Montserrat:300,600');

body {
  /* background: rgb(0, 8, 71); */
  color: #fff;
  font-family: 'Montserrat';
  -webkit-app-region: drag;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
  /* max-height: 80px;
  max-width: 220px; */
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: white;
}

.dark-theme {
  background-color: #0c1421;
}

.dark-theme .subtext {
  color: #fff;
}

.row {
  width: 100%;
  /* background: rgb(0, 8, 71); */
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  -webkit-app-region: drag;
}

#price-containerHDN {
  display: inline;
  text-align: center;
  max-height: 80px;
  -webkit-app-region: drag;
  user-select: none;
}

.subtext {
  font-size: 0.9em;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: bold;
  color: #000;
}

h1 {
  margin: 0 0 10px 0;
}

#appname {
  text-align: center;
  font-size: 1.8em;
  margin: 5%;
}

.ct-series-a .ct-line {
  stroke: #19c785 !important;
  stroke-width: 2px;
  fill: transparent;
}

.ct-area {
  fill: #19c785 !important;
}

.subtext {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 15px;
}

@media screen and (max-heigth: 200px) {
  #chartContainer {
    display: none !important;
  }
}

img {
  user-select: none;
  margin-right: 3px;
}
